# EXPLORATORY DATA ANALYSIS (EDA)

### GOALS:

1) Please provide details on 
   - the datasets, 
   - \# of obs,  
   - \# columns, 
   - what the columns are and their types. 
   - If it is geographical, 
     - what areas it cover, 
   - if it is time series, 
     - what time frame it covers. 
   - What is the label you want to predict, 
   - what are the features you use to predict the label.

# IMPORTS

In [20]:
import os
import pandas as pd
import numpy as np

# VARIABLES

In [21]:
# Get file path
current_path = os.getcwd()
parent_file_path = os.path.dirname(current_path)
file_path = f'{parent_file_path}\\data\\HumData\\20230115-health_indicators_usa.csv'
print('file_path =', file_path)

file_path = c:\Users\GlaDOS\Documents\GitHub\eugene_data606\data\HumData\20230115-health_indicators_usa.csv

# EXECUTE

Load the WHO Health Indicators Dataset for the USA
- Read CSV as a Pandas dataframe

In [22]:
df = pd.read_csv(file_path)

c:\tools\Anaconda3\envs\data601-intro_to_DS_20220604\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (13,14,20,21,29,30,33) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Let's take a look at the top of the DF

In [24]:
df.head()

,GHO (CODE),GHO (DISPLAY),GHO (URL),PUBLISHSTATE (CODE),PUBLISHSTATE (DISPLAY),PUBLISHSTATE (URL),YEAR (CODE),YEAR (DISPLAY),YEAR (URL),REGION (CODE),...,CHILDCAUSE (CODE),CHILDCAUSE (DISPLAY),CHILDCAUSE (URL),Display Value,Numeric,Low,High,StdErr,StdDev,Comments
0,#indicator+code,#indicator+name,#indicator+url,#status+code,#status+name,NaN,NaN,#date+year,NaN,#region+code,...,NaN,NaN,NaN,NaN,#indicator+value+num,NaN,NaN,NaN,NaN,NaN
1,GBD_DALYRTAGE,"Age-standardized DALYs (per 100,000)",https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2000,2000,NaN,AMR,...,NaN,NaN,NaN,"20,107",20107.09961,NaN,NaN,NaN,NaN,NaN
2,GBD_DALYRTAGE,"Age-standardized DALYs (per 100,000)",https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2012,2012,NaN,AMR,...,NaN,NaN,NaN,"22,775",22775.19922,NaN,NaN,NaN,NaN,NaN
3,WHS2_126,Distribution of years of life lost by major ca...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2012,2012,NaN,AMR,...,NaN,NaN,NaN,12,12.00000,NaN,NaN,NaN,NaN,NaN
4,WHOSIS_000004,Adult mortality rate (probability of dying bet...,https://www.who.int/data/gho/indicator-metadat...,PUBLISHED,Published,NaN,2002,2002,NaN,AMR,...,NaN,NaN,NaN,145,145.30790,NaN,NaN,NaN,NaN,NaN

NOTES:
- Row 0: might be some kind of note or extended 2 row header

QUESTIONS:
- What's GHO?

Let's take a look at some general info about this DF

In [60]:
print('DF:')
print('Dimensions   =', df.ndim)
print('Size         =', df.size)
print('Shape        =', df.shape)
print('Rows         =', df.shape[0])
print('Columns      =', df.shape[1])

DF:
Dimensions   = 2
Size         = 780858
Shape        = (20022, 39)
Rows         = 20022
Columns      = 39

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20022 entries, 0 to 20021
Data columns (total 39 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   GHO (CODE)                      20022 non-null  object
 1   GHO (DISPLAY)                   20022 non-null  object
 2   GHO (URL)                       19941 non-null  object
 3   PUBLISHSTATE (CODE)             20022 non-null  object
 4   PUBLISHSTATE (DISPLAY)          20022 non-null  object
 5   PUBLISHSTATE (URL)              0 non-null      float64
 6   YEAR (CODE)                     19985 non-null  object
 7   YEAR (DISPLAY)                  19986 non-null  object
 8   YEAR (URL)                      0 non-null      float64
 9   REGION (CODE)                   19981 non-null  object
 10  REGION (DISPLAY)                19981 non-null  object
 11  REGION (URL)                    0 non-null      float64
 12  WORLDBANKINCOMEGROUP (CODE)     2721 non-null   object
 13  STARTYEAR                       19986 non-null  object
 14  ENDYEAR                         19986 non-null  object
 15  WORLDBANKINCOMEGROUP (DISPLAY)  2721 non-null   object
 16  WORLDBANKINCOMEGROUP (URL)      0 non-null      float64
 17  COUNTRY (CODE)                  20022 non-null  object
 18  COUNTRY (DISPLAY)               20022 non-null  object
 19  COUNTRY (URL)                   0 non-null      float64
 20  AGEGROUP (CODE)                 7790 non-null   object
 21  AGEGROUP (DISPLAY)              7790 non-null   object
 22  AGEGROUP (URL)                  0 non-null      float64
 23  SEX (CODE)                      10415 non-null  object
 24  SEX (DISPLAY)                   10415 non-null  object
 25  SEX (URL)                       0 non-null      float64
 26  GHECAUSES (CODE)                392 non-null    object
 27  GHECAUSES (DISPLAY)             392 non-null    object
 28  GHECAUSES (URL)                 0 non-null      float64
 29  CHILDCAUSE (CODE)               2268 non-null   object
 30  CHILDCAUSE (DISPLAY)            2268 non-null   object
 31  CHILDCAUSE (URL)                0 non-null      float64
 32  Display Value                   19878 non-null  object
 33  Numeric                         16713 non-null  object
 34  Low                             8742 non-null   float64
 35  High                            8742 non-null   float64
 36  StdErr                          0 non-null      float64
 37  StdDev                          0 non-null      float64
 38  Comments                        1100 non-null   object
dtypes: float64(13), object(26)
memory usage: 6.0+ MB

In [61]:
# (REPEATED - in df.info)
df.dtypes

GHO (CODE)                         object
GHO (DISPLAY)                      object
GHO (URL)                          object
PUBLISHSTATE (CODE)                object
PUBLISHSTATE (DISPLAY)             object
PUBLISHSTATE (URL)                float64
YEAR (CODE)                        object
YEAR (DISPLAY)                     object
YEAR (URL)                        float64
REGION (CODE)                      object
REGION (DISPLAY)                   object
REGION (URL)                      float64
WORLDBANKINCOMEGROUP (CODE)        object
STARTYEAR                          object
ENDYEAR                            object
WORLDBANKINCOMEGROUP (DISPLAY)     object
WORLDBANKINCOMEGROUP (URL)        float64
COUNTRY (CODE)                     object
COUNTRY (DISPLAY)                  object
COUNTRY (URL)                     float64
AGEGROUP (CODE)                    object
AGEGROUP (DISPLAY)                 object
AGEGROUP (URL)                    float64
SEX (CODE)                         object
SEX (DISPLAY)                      object
SEX (URL)                         float64
GHECAUSES (CODE)                   object
GHECAUSES (DISPLAY)                object
GHECAUSES (URL)                   float64
CHILDCAUSE (CODE)                  object
CHILDCAUSE (DISPLAY)               object
CHILDCAUSE (URL)                  float64
Display Value                      object
Numeric                            object
Low                               float64
High                              float64
StdErr                            float64
StdDev                            float64
Comments                           object
dtype: object

In [30]:
df.describe()

,PUBLISHSTATE (URL),YEAR (URL),REGION (URL),WORLDBANKINCOMEGROUP (URL),COUNTRY (URL),AGEGROUP (URL),SEX (URL),GHECAUSES (URL),CHILDCAUSE (URL),Low,High,StdErr,StdDev
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.742000e+03,8.742000e+03,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.926412e+04,2.808063e+04,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.236897e+05,1.864816e+05,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000e+00,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.538365e+00,5.716355e+00,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.722547e+01,2.193290e+01,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.260000e+01,7.267961e+01,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.045159e+06,3.230816e+06,NaN,NaN

In [31]:
df.isnull().sum()

GHO (CODE)                            0
GHO (DISPLAY)                         0
GHO (URL)                            81
PUBLISHSTATE (CODE)                   0
PUBLISHSTATE (DISPLAY)                0
PUBLISHSTATE (URL)                20022
YEAR (CODE)                          37
YEAR (DISPLAY)                       36
YEAR (URL)                        20022
REGION (CODE)                        41
REGION (DISPLAY)                     41
REGION (URL)                      20022
WORLDBANKINCOMEGROUP (CODE)       17301
STARTYEAR                            36
ENDYEAR                              36
WORLDBANKINCOMEGROUP (DISPLAY)    17301
WORLDBANKINCOMEGROUP (URL)        20022
COUNTRY (CODE)                        0
COUNTRY (DISPLAY)                     0
COUNTRY (URL)                     20022
AGEGROUP (CODE)                   12232
AGEGROUP (DISPLAY)                12232
AGEGROUP (URL)                    20022
SEX (CODE)                         9607
SEX (DISPLAY)                      9607
SEX (URL)                         20022
GHECAUSES (CODE)                  19630
GHECAUSES (DISPLAY)               19630
GHECAUSES (URL)                   20022
CHILDCAUSE (CODE)                 17754
CHILDCAUSE (DISPLAY)              17754
CHILDCAUSE (URL)                  20022
Display Value                       144
Numeric                            3309
Low                               11280
High                              11280
StdErr                            20022
StdDev                            20022
Comments                          18922
dtype: int64

In [32]:
df.nunique()

GHO (CODE)                         1321
GHO (DISPLAY)                      1320
GHO (URL)                           821
PUBLISHSTATE (CODE)                   2
PUBLISHSTATE (DISPLAY)                2
PUBLISHSTATE (URL)                    0
YEAR (CODE)                          95
YEAR (DISPLAY)                       96
YEAR (URL)                            0
REGION (CODE)                         4
REGION (DISPLAY)                      4
REGION (URL)                          0
WORLDBANKINCOMEGROUP (CODE)           1
STARTYEAR                           140
ENDYEAR                             140
WORLDBANKINCOMEGROUP (DISPLAY)        1
WORLDBANKINCOMEGROUP (URL)            0
COUNTRY (CODE)                        2
COUNTRY (DISPLAY)                     2
COUNTRY (URL)                         0
AGEGROUP (CODE)                      44
AGEGROUP (DISPLAY)                   44
AGEGROUP (URL)                        0
SEX (CODE)                            4
SEX (DISPLAY)                         4
SEX (URL)                             0
GHECAUSES (CODE)                     13
GHECAUSES (DISPLAY)                  13
GHECAUSES (URL)                       0
CHILDCAUSE (CODE)                    14
CHILDCAUSE (DISPLAY)                 28
CHILDCAUSE (URL)                      0
Display Value                     10631
Numeric                            8983
Low                                4070
High                               4193
StdErr                                0
StdDev                                0
Comments                            128
dtype: int64

In [53]:
# Get columns in a list format

# print(df.columns)
# print('length of df.columns =', len(df.columns))

column_number = 0

print('COL # | COL NAME')

while column_number < len(df.columns):
    print(f'{column_number} =', df.columns[column_number])
    column_number += 1

COL # | COL NAME
0 = GHO (CODE)
1 = GHO (DISPLAY)
2 = GHO (URL)
3 = PUBLISHSTATE (CODE)
4 = PUBLISHSTATE (DISPLAY)
5 = PUBLISHSTATE (URL)
6 = YEAR (CODE)
7 = YEAR (DISPLAY)
8 = YEAR (URL)
9 = REGION (CODE)
10 = REGION (DISPLAY)
11 = REGION (URL)
12 = WORLDBANKINCOMEGROUP (CODE)
13 = STARTYEAR
14 = ENDYEAR
15 = WORLDBANKINCOMEGROUP (DISPLAY)
16 = WORLDBANKINCOMEGROUP (URL)
17 = COUNTRY (CODE)
18 = COUNTRY (DISPLAY)
19 = COUNTRY (URL)
20 = AGEGROUP (CODE)
21 = AGEGROUP (DISPLAY)
22 = AGEGROUP (URL)
23 = SEX (CODE)
24 = SEX (DISPLAY)
25 = SEX (URL)
26 = GHECAUSES (CODE)
27 = GHECAUSES (DISPLAY)
28 = GHECAUSES (URL)
29 = CHILDCAUSE (CODE)
30 = CHILDCAUSE (DISPLAY)
31 = CHILDCAUSE (URL)
32 = Display Value
33 = Numeric
34 = Low
35 = High
36 = StdErr
37 = StdDev
38 = Comments

# (GENERAL) QUESTIONS:
1) Do I need to include a download script thru Jupyter Notebook?
2) Where to create requirements.txt?