# PHASE 3: ???
- TODO: fill in with Prof's description

# PLANNING

DATA PREP
- stratified split 

ML METHODS
- Binary classification
- Multiclass classification
- KNN?

EVALUATION
- Confusion Matrix: TP, FP, TN, FN, FP
  - Then F1 and stuff...????

SOURCE
- https://www.learndatasci.com/glossary/binary-classification/

# IMPORTS

In [195]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [196]:
#* TODO - it's only 3 seconds.. it should be fine to import all of it right?
#import sklearn
from sklearn.model_selection import train_test_split

# SETUP

### Import DF 
- From the CSV file I created in my Phase 2 (EDA) notebook

In [197]:
# Get current file path
current_path = os.getcwd()
parent_file_path = os.path.dirname(current_path)

# Construct desired file path
file_path = f'{parent_file_path}\\output\\oasis_cross-sectional_filtered.csv'
print('file_path =', file_path)

#* TODO Rename column names??
#* TODO -- set datatypes?
# Read CSV into Pandas, use the file path defined above, set row 0 as the header, and column 0 as the index
df = pd.read_csv(file_path, 
                 header = 0, 
                 index_col = 0)
df.head()

file_path = c:\Users\GlaDOS\Documents\GitHub\eugene_data606\output\oasis_cross-sectional_filtered.csv

  M/F  Age  Educ  SES  MMSE  CDR  eTIV   nWBV    ASF
0   F   74   2.0  3.0  29.0  0.0  1344  0.743  1.306
1   F   55   4.0  1.0  29.0  0.0  1147  0.810  1.531
2   F   73   4.0  3.0  27.0  0.5  1454  0.708  1.207
3   M   28   NaN  NaN   NaN  NaN  1588  0.803  1.105
4   M   18   NaN  NaN   NaN  NaN  1737  0.848  1.010

### Rename columns
- Elaborate on the full names according to the metadata descriptions provided

In [198]:
# For reference
df.columns

Index(['M/F', 'Age', 'Educ', 'SES', 'MMSE', 'CDR', 'eTIV', 'nWBV', 'ASF'], dtype='object')

In [199]:
rename_dict = {'M/F'    : 'Gender', 
               'Educ'   : 'Education',
               'SES'    : 'Socioeconomic Status',
               'MMSE'   : 'Mini-Mental State Examination',
               'CDR'    : 'Clinical Dementia Rating',
               'eTIV'   : 'Estimated total intracranial volume (mm^3)',
               'nWBV'   : 'Normalized whole brain volume',
               'ASF'    : 'Atlas scaling factor'
                }

# Rename columns based on provided dictionary
df = df.rename(columns = rename_dict)

# display the updated dataframe
df

,Gender,Age,Education,Socioeconomic Status,Mini-Mental State Examination,Clinical Dementia Rating,Estimated total intracranial volume (mm^3),Normalized whole brain volume,Atlas scaling factor
0,F,74,2.0,3.0,29.0,0.0,1344,0.743,1.306
1,F,55,4.0,1.0,29.0,0.0,1147,0.810,1.531
2,F,73,4.0,3.0,27.0,0.5,1454,0.708,1.207
3,M,28,NaN,NaN,NaN,NaN,1588,0.803,1.105
4,M,18,NaN,NaN,NaN,NaN,1737,0.848,1.010
...,...,...,...,...,...,...,...,...,...
431,M,20,NaN,NaN,NaN,NaN,1469,0.847,1.195
432,M,22,NaN,NaN,NaN,NaN,1684,0.790,1.042
433,M,22,NaN,NaN,NaN,NaN,1580,0.856,1.111
434,F,20,NaN,NaN,NaN,NaN,1262,0.861,1.390
435,F,26,NaN,NaN,NaN,NaN,1283,0.834,1.368

# PREPROCESSING

Q) Should I impute for my target column (CDR)? 

A) That doesn't sound like a good idea...

In [200]:
# CHECK how many unknowns in CDR
unknown_count = df['Clinical Dementia Rating'].isna().sum()
print(f'There are {unknown_count} unknowns in the CDR column')
print(f'Total length of CDR = {len(df)}')
print(f'Making that {int(unknown_count/len(df) * 100)}% of the CDR column missing')

There are 201 unknowns in the CDR column
Total length of CDR = 436
Making that 46% of the CDR column missing

### Drop missing rows in target column

In [201]:
# Drop rows with missing values in target column (CDR)
df.dropna(subset = ['Clinical Dementia Rating'], inplace=True)
df

,Gender,Age,Education,Socioeconomic Status,Mini-Mental State Examination,Clinical Dementia Rating,Estimated total intracranial volume (mm^3),Normalized whole brain volume,Atlas scaling factor
0,F,74,2.0,3.0,29.0,0.0,1344,0.743,1.306
1,F,55,4.0,1.0,29.0,0.0,1147,0.810,1.531
2,F,73,4.0,3.0,27.0,0.5,1454,0.708,1.207
8,M,74,5.0,2.0,30.0,0.0,1636,0.689,1.073
9,F,52,3.0,2.0,30.0,0.0,1321,0.827,1.329
...,...,...,...,...,...,...,...,...,...
411,F,70,1.0,4.0,29.0,0.5,1295,0.748,1.355
412,F,73,3.0,2.0,23.0,0.5,1536,0.730,1.142
413,F,61,2.0,4.0,28.0,0.0,1354,0.825,1.297
414,M,61,5.0,2.0,30.0,0.0,1637,0.780,1.072
415,F,62,3.0,3.0,26.0,0.0,1372,0.766,1.279

### Split target column (CDR) into binary groups of non-demented or demented patients

In [202]:
# Set bin borders for integer to categorical conversion
bins = [0, 0.1, np.inf]

#* TODO - name this as the binary DF?
# Split the CDR into 2 groups: demented and non-demented
df['Clinical Dementia Rating'] = df['Clinical Dementia Rating'].apply(
    lambda x: 'non-demented' if x == 0.0 else (
        'demented' if x == 0.5 else(
            'demented' if x == 1 else(
                'demented' if x == 2 else 'unknown'))))

# CHECK - need to make sure that the lambda function split up CDR correctly
print("# of unique values in the CDR column =\n", df['Clinical Dementia Rating'].nunique(), '== 2?')
df.head(10)

# of unique values in the CDR column =
 2 == 2?

,Gender,Age,Education,Socioeconomic Status,Mini-Mental State Examination,Clinical Dementia Rating,Estimated total intracranial volume (mm^3),Normalized whole brain volume,Atlas scaling factor
0,F,74,2.0,3.0,29.0,non-demented,1344,0.743,1.306
1,F,55,4.0,1.0,29.0,non-demented,1147,0.810,1.531
2,F,73,4.0,3.0,27.0,demented,1454,0.708,1.207
8,M,74,5.0,2.0,30.0,non-demented,1636,0.689,1.073
9,F,52,3.0,2.0,30.0,non-demented,1321,0.827,1.329
11,F,81,5.0,2.0,30.0,non-demented,1664,0.679,1.055
13,M,76,2.0,NaN,28.0,demented,1738,0.719,1.010
14,M,82,2.0,4.0,27.0,demented,1477,0.739,1.188
16,M,39,3.0,4.0,28.0,non-demented,1636,0.813,1.073
17,F,89,5.0,1.0,30.0,non-demented,1536,0.715,1.142

# [1] Define explanatory and target variables
First, get the column names as a list

Then, pick the data columns and the target columns to use

In [203]:
# All columns besides the target column (CDR) will be used as the explanatory data columns
data_column_list = df.columns[df.columns != 'Clinical Dementia Rating'].tolist()
target_column_list = ['Clinical Dementia Rating']

# CHECK
print('type(data_column_list) =', type(data_column_list))
print('data_column_list =', data_column_list )
print('target_column_list =', target_column_list)

type(data_column_list) = <class 'list'>
data_column_list = ['Gender', 'Age', 'Education', 'Socioeconomic Status', 'Mini-Mental State Examination', 'Estimated total intracranial volume (mm^3)', 'Normalized whole brain volume', 'Atlas scaling factor']
target_column_list = ['Clinical Dementia Rating']

Split the DF up based on the predefined lists for data and target columns

In [204]:
X = df[data_column_list]
y = df[target_column_list]

# CHECK
print('X =\n', X)
print('y =\n', y)

X =
     Gender  Age  Education  Socioeconomic Status  \
0        F   74        2.0                   3.0
1        F   55        4.0                   1.0
2        F   73        4.0                   3.0
8        M   74        5.0                   2.0
9        F   52        3.0                   2.0
..     ...  ...        ...                   ...
411      F   70        1.0                   4.0
412      F   73        3.0                   2.0
413      F   61        2.0                   4.0
414      M   61        5.0                   2.0
415      F   62        3.0                   3.0

     Mini-Mental State Examination  \
0                             29.0
1                             29.0
2                             27.0
8                             30.0
9                             30.0
..                             ...
411                           29.0
412                           23.0
413                           28.0
414                           30.0
415                           26.0

     Estimated total intracranial volume (mm^3)  \
0                                          1344
1                                          1147
2                                          1454
8                                          1636
9                                          1321
..                                          ...
411                                        1295
412                                        1536
413                                        1354
414                                        1637
415                                        1372

     Normalized whole brain volume  Atlas scaling factor
0                            0.743                 1.306
1                            0.810                 1.531
2                            0.708                 1.207
8                            0.689                 1.073
9                            0.827                 1.329
..                             ...                   ...
411                          0.748                 1.355
412                          0.730                 1.142
413                          0.825                 1.297
414                          0.780                 1.072
415                          0.766                 1.279

[235 rows x 8 columns]
y =
     Clinical Dementia Rating
0               non-demented
1               non-demented
2                   demented
8               non-demented
9               non-demented
..                       ...
411                 demented
412                 demented
413             non-demented
414             non-demented
415             non-demented

[235 rows x 1 columns]

# [2] Stratified train/test split

In [205]:
X_train, X_test, y_train, y_test = train_test_split(
                                        X, 
                                        y, 
                                        test_size = 0.20,
                                        stratify = y,
                                        random_state = 0)

# CHECK
all_dfs_dict = {
    'X_test': X_test,
    'X_train': X_train,
    'y_test': y_test,
    'y_train': y_train
}

# Loop through the dictionary, print the name then each DF
for key, value in all_dfs_dict.items():
    print(f"{key}:\n{value}\n")

X_train =
     Gender  Age  Education  Socioeconomic Status  \
389      M   71        4.0                   1.0
77       F   75        2.0                   3.0
309      F   88        2.0                   3.0
157      F   88        2.0                   3.0
120      M   68        3.0                   3.0
..     ...  ...        ...                   ...
363      F   54        4.0                   3.0
61       F   66        1.0                   4.0
17       F   89        5.0                   1.0
322      F   68        3.0                   2.0
262      M   83        3.0                   2.0

     Mini-Mental State Examination  \
389                           17.0
77                            28.0
309                           28.0
157                           30.0
120                           26.0
..                             ...
363                           29.0
61                            28.0
17                            30.0
322                           30.0
262                           26.0

     Estimated total intracranial volume (mm^3)  \
389                                        1562
77                                         1407
309                                        1370
157                                        1445
120                                        1444
..                                          ...
363                                        1287
61                                         1309
17                                         1536
322                                        1506
262                                        1992

     Normalized whole brain volume  Atlas scaling factor
389                          0.687                 1.123
77                           0.776                 1.247
309                          0.765                 1.281
157                          0.718                 1.215
120                          0.789                 1.216
..                             ...                   ...
363                          0.827                 1.364
61                           0.765                 1.341
17                           0.715                 1.142
322                          0.740                 1.165
262                          0.706                 0.881

[188 rows x 8 columns]

X_test =
     Gender  Age  Education  Socioeconomic Status  \
186      M   48        4.0                   1.0
185      F   71        2.0                   3.0
65       F   63        3.0                   2.0
333      F   73        4.0                   1.0
8        M   74        5.0                   2.0
35       M   70        4.0                   3.0
275      M   84        3.0                   3.0
244      F   89        2.0                   4.0
106      M   62        2.0                   4.0
378      M   74        5.0                   2.0
42       M   64        2.0                   NaN
111      M   70        4.0                   4.0
361      M   78        2.0                   NaN
158      M   71        2.0                   4.0
166      F   49        4.0                   2.0
29       M   89        4.0                   1.0
304      M   81        1.0                   4.0
247      F   58        3.0                   3.0
152      F   81        2.0                   3.0
330      F   45        5.0                   2.0
352      F   77        2.0                   4.0
0        F   74        2.0                   3.0
407      F   71        3.0                   4.0
217      F   77        2.0                   3.0
79       F   81        2.0                   NaN
162      F   54        4.0                   1.0
136      F   82        5.0                   1.0
409      M   73        5.0                   3.0
69       M   43        4.0                   NaN
291      F   65        3.0                   4.0
286      F   72        4.0                   2.0
258      F   83        3.0                   2.0
396      F   66        5.0                   2.0
413      F   61        2.0                   4.0
207      F   81        3.0                   2.0
190      F   55        5.0                   1.0
373      F   71        5.0                   1.0
278      F   78        3.0                   3.0
169      F   65        2.0                   NaN
287      M   86        4.0                   1.0
300      M   72        1.0                   3.0
154      F   80        2.0                   NaN
212      F   77        1.0                   4.0
80       F   70        2.0                   3.0
271      M   68        3.0                   2.0
145      F   86        4.0                   3.0
203      M   84        2.0                   NaN

     Mini-Mental State Examination  \
186                           29.0
185                           30.0
65                            30.0
333                           28.0
8                             30.0
35                            29.0
275                           29.0
244                           27.0
106                           30.0
378                           28.0
42                            22.0
111                           26.0
361                           29.0
158                           29.0
166                           30.0
29                            28.0
304                           28.0
247                           30.0
152                           28.0
330                           29.0
352                           22.0
0                             29.0
407                           29.0
217                           28.0
79                            27.0
162                           30.0
136                           28.0
409                           27.0
69                            30.0
291                           29.0
286                           22.0
258                           20.0
396                           29.0
413                           28.0
207                           28.0
190                           29.0
373                           29.0
278                           15.0
169                           16.0
287                           26.0
300                           29.0
154                           27.0
212                           20.0
80                            29.0
271                           30.0
145                           30.0
203                           20.0

     Estimated total intracranial volume (mm^3)  \
186                                        1430
185                                        1360
65                                         1327
333                                        1295
8                                          1636
35                                         1463
275                                        1497
244                                        1329
106                                        1378
378                                        1659
42                                         1351
111                                        1796
361                                        1569
158                                        1455
166                                        1316
29                                         1631
304                                        1750
247                                        1373
152                                        1495
330                                        1549
352                                        1350
0                                          1344
407                                        1264
217                                        1484
79                                         1453
162                                        1494
136                                        1513
409                                        1687
69                                         1547
291                                        1335
286                                        1493
258                                        1476
396                                        1191
413                                        1354
207                                        1486
190                                        1368
373                                        1346
278                                        1401
169                                        1521
287                                        1501
300                                        1734
154                                        1475
212                                        1376
80                                         1283
271                                        1556
145                                        1293
203                                        1641

     Normalized whole brain volume  Atlas scaling factor
186                          0.797                 1.227
185                          0.779                 1.291
65                           0.801                 1.323
333                          0.772                 1.356
8                            0.689                 1.073
35                           0.772                 1.200
275                          0.693                 1.172
244                          0.740                 1.320
106                          0.804                 1.274
378                          0.747                 1.058
42                           0.787                 1.299
111                          0.736                 0.977
361                          0.706                 1.119
158                          0.725                 1.206
166                          0.820                 1.334
29                           0.682                 1.076
304                          0.676                 1.003
247                          0.815                 1.278
152                          0.687                 1.174
330                          0.813                 1.133
352                          0.736                 1.300
0                            0.743                 1.306
407                          0.818                 1.388
217                          0.786                 1.182
79                           0.727                 1.208
162                          0.838                 1.174
136                          0.742                 1.160
409                          0.728                 1.040
69                           0.847                 1.134
291                          0.776                 1.315
286                          0.690                 1.176
258                          0.751                 1.189
396                          0.787                 1.474
413                          0.825                 1.297
207                          0.759                 1.181
190                          0.823                 1.283
373                          0.742                 1.304
278                          0.703                 1.253
169                          0.669                 1.154
287                          0.702                 1.169
300                          0.762                 1.012
154                          0.771                 1.190
212                          0.701                 1.275
80                           0.791                 1.368
271                          0.723                 1.128
145                          0.756                 1.357
203                          0.703                 1.070

y_train =
     Clinical Dementia Rating
389                 demented
77                  demented
309             non-demented
157             non-demented
120             non-demented
..                       ...
363             non-demented
61                  demented
17              non-demented
322             non-demented
262                 demented

[188 rows x 1 columns]

y_test =
     Clinical Dementia Rating
186             non-demented
185             non-demented
65              non-demented
333             non-demented
8               non-demented
35                  demented
275                 demented
244             non-demented
106             non-demented
378                 demented
42                  demented
111                 demented
361                 demented
158             non-demented
166             non-demented
29              non-demented
304             non-demented
247             non-demented
152                 demented
330             non-demented
352                 demented
0               non-demented
407             non-demented
217                 demented
79                  demented
162             non-demented
136             non-demented
409                 demented
69              non-demented
291             non-demented
286                 demented
258                 demented
396             non-demented
413             non-demented
207             non-demented
190             non-demented
373                 demented
278                 demented
169                 demented
287             non-demented
300             non-demented
154                 demented
212                 demented
80              non-demented
271                 demented
145             non-demented
203                 demented

# [3] Normalize data

Q) When should I normalize?

A) When:
- distribution is not normal --> yes
- magnitudes are very different --> yes
- test and find out before/after

### CHECK
Q) How much of a difference would it be if I removed all rows with any nulls?

A) It will cut down the dataset around half (50%) according to my EDA notebook

### TODO
- maybe I should run both methods to check anyway?

### Impute missing data in rows
- IMPORTANT!!! --> run imputation AFTER train/test splitting

TODO:
- Impute missing data using median since most of these started as multi-class labels??? can't used mean for them anyway, and the distribution is very skewed according to my EDA notebook

In [209]:
# CHECK - before 
nulls_before = df.isnull().sum()

# Save a list of numerical (float/int) type columns
numerical_list = df.select_dtypes(include = 'number').columns.tolist()
print('numerical_list =', numerical_list)

# Impute median values in every numerical column
for column in numerical_list:
    median = df[column].median()
    df[column].fillna(median, inplace = True)
    
# CHECK - after
nulls_after = df.isnull().sum()

# Print the before and after sum of null values
print('nulls_before =\n', nulls_before)
print('~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~')
print('nulls_after =\n', nulls_after)

numerical_list = ['Age', 'Education', 'Socioeconomic Status', 'Mini-Mental State Examination', 'Estimated total intracranial volume (mm^3)', 'Normalized whole brain volume', 'Atlas scaling factor']
nulls_before =
 Gender                                         0
Age                                            0
Education                                      0
Socioeconomic Status                          19
Mini-Mental State Examination                  0
Clinical Dementia Rating                       0
Estimated total intracranial volume (mm^3)     0
Normalized whole brain volume                  0
Atlas scaling factor                           0
dtype: int64
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
nulls_after =
 Gender                                        0
Age                                           0
Education                                     0
Socioeconomic Status                          0
Mini-Mental State Examination                 0
Clinical Dementia Rating                      0
Estimated total intracranial volume (mm^3)    0
Normalized whole brain volume                 0
Atlas scaling factor                          0
dtype: int64

# SAVE FOR LATER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

In [208]:
# # Split the CDR into multiclass groups denoting the severity of the dementia
# df['CDR'] = df['CDR'].apply(
#     lambda x: 'non-demented' if x == 0.0 else (
#         'very mild dementia' if x == 0.5 else(
#             'mild dementia' if x == 1 else(
#                 'moderate dementia' if x == 2 else 'unknown'))))